@import "reset.css";

body {
  background-color: white;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 1500px;
}

#rotateBox {
  position: relative;
  transform-style: preserve-3d;
  width: 10px;
  height: 10px;
}

.rotate__box {
  animation: rotateBox 30s linear infinite;
}

.rotate__insta-box {
  animation: rotateInstaBox 1s linear forwards;
  animation-play-state: running;
}

.box {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-instagram,
.fa-facebook-f,
.fa-github-square,
.fa-twitter,
.fa-envelope,
.fa-blog {
  font-size: 100px;
  cursor: pointer;
}

.insta-box {
  transform: translate3d(-200px, -200px, 200px);
  background: #fafafa;
  opacity: 0.7;
}

.insta-box:hover {
  background: linear-gradient(#feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: white;
  opacity: 1;
}

.fb-box {
  transform: translate3d(-200px, -200px, -200px);
  background: #fafafa;
  opacity: 0.7;
}

.fb-box:hover {
  background: #1177f2;
  color: white;
  opacity: 1;
}

.fb-box span {
  transform: rotateY(180deg);
}

.blog-box {
  transform: translate3d(0, -200px, 0) rotateY(90deg);
  background: #fafafa;
  opacity: 0.7;
}

.blog-box:hover {
  background: #e4511d;
  color: white;
  opacity: 1;
}

.mail-box {
  transform: translate3d(-400px, -200px, 0) rotateY(90deg);
  background: #fafafa;
  opacity: 0.7;
}

.mail-box:hover {
  background: #d7494d;
  color: white;
  opacity: 1;
}

.github-box {
  transform: translate3d(-200px, 0px, 0) rotateX(90deg);
  background: #fafafa;
  opacity: 0.7;
}

.github-box:hover {
  background: #000;
  color: #fefefe;
  opacity: 1;
}

.twit-box {
  transform: translate3d(-200px, -400px, 0) rotateX(90deg);
  background: #fafafa;
  opacity: 0.7;
}

.twit-box:hover {
  background: #5aa7d9;
  color: white;
  opacity: 1;
}
